.iD0-star{
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/star-bookmark-favorite-shape-rank-like-32386.png');
    width: 8px;
    height: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-people{
    background-image: url('https://toppng.com/uploads/preview/business-group-comments-people-group-business-icon-11562873610sqakpnccus.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-home{
    background-image: url('https://png.pngitem.com/pimgs/s/82-822688_home-icon-vector-png-transparent-png.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-clock{
    background-image: url('https://image.flaticon.com/icons/png/128/992/992700.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-message{
    background-image: url('https://image.flaticon.com/icons/png/128/2907/2907765.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-phone{
    background-image: url('https://cdn.icon-icons.com/icons2/2248/PNG/512/phone_icon_136322.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-phone-12{
    background-image: url('https://cdn.icon-icons.com/icons2/2248/PNG/512/phone_icon_136322.png');
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-heart{
    background-image: url('https://image.flaticon.com/icons/png/128/2/2267.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-left-arrow{
    background-image: url('https://image.flaticon.com/icons/png/128/2989/2989985.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-right-arrow{
    background-image: url('https://image.flaticon.com/icons/png/128/2989/2989988.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-starbucks{
    background-image: url('https://www.shareicon.net/data/256x256/2015/09/01/94011_starbucks_512x512.png');
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-share{
    background-image: url('https://image.flaticon.com/icons/png/128/1358/1358023.png');
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-files{
    background-image: url('https://image.flaticon.com/icons/png/128/2911/2911213.png');
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-location{
    background-image: url('https://image.flaticon.com/icons/png/128/4329/4329052.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-bathroom{
    background-image: url('https://image.flaticon.com/icons/png/128/259/259973.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-bedroom{
    background-image: url('https://image.flaticon.com/icons/png/128/2286/2286105.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-space{
    background-image: url('https://image.flaticon.com/icons/png/128/3250/3250990.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.iD0-price-tag{
    background-image: url('https://image.flaticon.com/icons/png/128/2450/2450219.png');
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
